<div>
    <ul>
        <li >
            <input type="text" #fname *ngIf="editing" 
                            [value]="detail.fullname"
                            (input)="onNameChange(fname.value)">
            <div class="card" [ngClass]="{'greener': detail.checkIn}">  
                <p><strong>Id : </strong>{{ detail.id }}</p>
                <p><strong>Fullname : </strong>{{ detail.fullname }}</p>
                <p><strong>CheckIn : </strong>{{ detail.checkIn }}</p>
                <div class="btn-div">
                <button class="btn1" (click)="toggleRemove()">
                                            Remove
                                            </button>
                <button class="btn2" (click)="startEditing()">
                                            {{ editing ? 'Done' : 'Edit' }}
                                            </button>
                <button class="btn3" (click)="gotoPassenger()">View</button>
                </div>
            </div>
        </li>
    </ul>
</div>